*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham;
}
@font-face {
    font-family: Gotham;
    src: url(Font/GothamBook.ttf);
    src: url(Font/Gotham-Bold_4.otf);
}
/* Navbar Styling */
#navbarSupportedContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav li{
    margin-left: 5px;
}
.navbar-nav li a{
    color: #000;
    font-weight: bold;
}
.logo img{
    width: 120px;
}
.contact-link{
    gap: 10px;
    display: flex;
    align-items: center;
}
.contact-link li{
    list-style: none;
}
.contact-link li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.contact-link i{
    font-size: 24px;
    font-weight: bold;
}

/* main page styling */

.main-page{
    width: 100%;
    height: 100vh;  
    background: url(Images/main-img.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #DBBB72;
}
.main-page .top-heading{
    text-align: center;
    text-transform: uppercase;
}
.park-line{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-1{
    width: 60px;
    height: 1.5px;
    background-color: #DBBB72;
}
.line-2{
    width: 60px;
    height: 1.5px;
    background-color: #DBBB72;
}
.center-heading{
    margin: 30px 0;
}
.bottom-headings{
    color: #fff;
}

/* Embrace styling */

.embrace-section{
    width: 100%;
    height: 100vh;
    background: url(Images/main\ img.jpg);
    background-size: cover;
}
.embrace-color{
    height: 100px;
    background: linear-gradient(to top, rgba(255,0,0,0), #2D3241);
}
.embrace-text{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    background-color: #2D3241;
}
.embrace-text h3{
    color: #DBBB72;
    text-transform: uppercase;
}
.embrace-locations{
    color: #fff;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
}
.future-res p{
    position: absolute;
    top: 1rem; left: 2.2rem;
    text-align: center;
}
.lake-park p{
    position: absolute;
    top: 10.6rem; left: 10.3rem;
    text-align: center;
}
.west-cost p{
    position: absolute;
    top: 10.6rem; left: 14.3rem;
    text-align: center;
    color: #FFCB05;
    font-weight: bold;
    rotate: 57deg;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}
.current-indus p{
    font-size: 10px;
    position: absolute;
    top: 1.8rem; right: 28.1rem;
    text-align: center;
}
.park-entrence p{
    font-size: 10px;
    position: absolute;
    top: 5.6rem; right: 18.7rem;
    text-align: center;
}
.future-commercial p{
    position: absolute;
    top: 8.1rem; right: 28.1rem;
    text-align: center;
}
.lake-park-2 p{
    position: absolute;
    top: 13.1rem; right: 26rem;
    text-align: center;
}
.bbr-park-3 p{
    font-size: 12px;
    position: absolute;
    top: 10.6rem; right: 3.1rem;
    text-align: center;
}
.jalan-haji p{
    position: absolute;
    top: 18.7rem; right: 21.8rem;
    text-align: center;
}
.i-factories{
    position: relative;
}
.i3-factory{
    width: 10rem;
}
.i3-factory p{
    margin: 0;
    line-height: 1;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    background-color: #FFCB05;
    right: 512px; top: -55px;
}
.i3-factory span{
    font-size: 10px;
}
.i3-factory .line{
    width: 120px;
    height: 0.5px;
    rotate: 90deg;
    background-color: #FFCB05;
    position: absolute;
    right: 600px; top: 5px;
}
.i4-factory{
    width: 10rem;
}
.i4-factory p{
    margin: 0;
    line-height: 1;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    background-color: #FFCB05;
    left: 439px; top: -55px;
}
.i4-factory span{
    font-size: 10px;
}
.i4-factory .line{
    width: 80px;
    height: 0.5px;
    rotate: 90deg;
    background-color: #FFCB05;
    position: absolute;
    left: 400px; top: 20px;
}
.i5-factory{
    width: 10rem;
}
.i5-factory p{
    margin: 0;
    line-height: 1;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    background-color: #FFCB05;
    left: 250px; top: -90px;
}
.i5-factory span{
    font-size: 10px;
}
.i5-factory .line{
    width: 50px;
    height: 0.5px;
    rotate: 90deg;
    background-color: #FFCB05;
    position: absolute;
    left: 225px; top: -20px;
}

/* siteplan styling */

.site-plan{
    width: 100%;
    height: 175vh;
    background-color: #2D3241;
}
.site-plan h3{
    color: #FFCB05;
    padding: 50px 0;
    text-transform: uppercase;
    text-align: center;
}
.site-plan img{
    width: 90%;
    height: 70vh;
    margin-left: 3rem;
}
.sitePlan-content{
    text-align: center;
    background-color: #2D3241;
}
.sitePlan-content .line{
    width: 400px;
    height: 1px;
    margin: 2rem auto;
    background-color: #FFCB05;
}
.sitePlan-content h4{
    color: #DBBB72;
    padding: 10px 0;
    text-transform: uppercase;
}
.sitePlan-content p{
    color: #fff;
}
.site-detail{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.wild-road{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wild-road img{
    width: 60px;
    height: 60px;
    margin: 0;
}
.wild-road h5{
    font-size: 14px;
    color: #DBBB72;
    text-transform: capitalize;
}
.wild-road p{
    font-size: 10px;
    color: #fff;
}
.site-img-blur{
    height: 100px;
    background: linear-gradient(to top, rgba(255,0,0,0), #2D3241);
}
.site-img{
    width: 100%; height: 150vh;
    background: url(Images/aerial_view_v2.jpg);
    background-size: cover;
    position: relative;
}
.site-img-content h4{
    position: absolute;
    top: 62%; left: 43%;
    rotate: 319deg;
    color: #FFCB05;
    text-transform: uppercase;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}

/* unparallel-sec stylng */

.unparallel-sec{
    display: flex;
    width: 100%;
    height: 150vh;
    background-color: #2D3241;
}
.unparallel-content{
    width: 35%;
    text-align: center;
}
.unparallel-content h3{
    color: #DBBB72;
    text-transform: uppercase;
    padding: 100px 0 0;
}
.unparallel-content-pra{
    padding: 20px 0 0;
    color: #DBBB72;
    text-transform: uppercase;
}
.unparallel-content span{
    font-size: 14px;
    color: #fff;
}
.unparallel-map{
    width: 65%;
}
.unparallel-map img{
    width: 100%;
    height: 150vh;
}
.transport-section{
    width: 100%;
    display: flex;
    gap: 50px;
    margin: 20px;
}
.truck-sec{
    width: 40%;
}
.truck-sec img{
    width: 60px;
}
.truck-content p{
    color: #fff;
    font-size: 12px;
    margin: 5px;
    text-align: left;
}
.truck-content .content-1{
    border-bottom: 2px solid #DBBB72;
}
.palne-sec{
    width: 60%;
}
.palne-sec img{
    width: 90px;
}
.palne-sec .content-1{
    display: flex;
    align-items: center;
}
.palne-sec .content-2{
    display: flex;
    align-items: center;
}
.palne-sec span{
    font-size: 12px;
    color: #FFCB05;
}
.palne-sec p{
    font-size:12px;
}
.train-content{
    margin-top: 50px;
}
.train-content .content-1{
    border-bottom: 2px solid #FFCB05;
}
.train-content p{
    margin: 5px;
    color: #fff;
    text-align: left;
    font-size: 12px;
}
.ship-sec{
    margin-left: 20px;
    text-align: left;
}
.ship-sec img{
    width: 100px;
}
.ship-sec p{
    margin: 5px;
    color: #fff;
    font-size: 12px;
}
.ship-sec span{
    color: #FFCB05;
}
.ship-sec .content-1{
    width: 30%;
    border-bottom: 2px solid #FFCB05;
}



@media (max-width:992px){
    #navbarSupportedContent{
        display: block;
    }
    .logo img {
        position: absolute;
        width: 120px;
        top: 0px;
        display: none;
    }
    .contact-link{
        display: none;
    }
}